{% extends 'base.html' %}

{% block content %}

<style>
  #main {
      width: 50%;
      margin: 0 auto;
      margin-top: 50px;   
  }

  #image {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      display: block;
  }

  #chapter-title {
      text-align: center;
      margin-bottom: 50px;
  }

  #introduction {
        width: 60%;
        margin: 0 auto;
        margin-top: 50px;
    }

    @media (max-width: 750px) {
        #main {
            width: 96%;
            margin: 0 auto;
            margin-top: 50px;
        }

        #introduction {
            width: 96%;
            margin: 0 auto;
            margin-top: 50px;
        }
    }

</style>

<div class="card text-center" id="introduction">
  <div class="card-header">
    Tutorial
  </div>
  <div class="card-body">
    <h3 class="card-title">{{blog.title}}</h3>
    <p class="card-text">{{blog.description}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    {{blog.created_at}}
  </div>
</div>

<div id="main">

  {% for content in blog_contents %}

      {% if content.title %}
          <h3 style="margin-top: 30px; ">{{content.title}}</h3>
      {% else %}
      {% endif %}

      <p style="margin-top: 30px; white-space: pre-wrap;">{{content.description}}</p>

      {% if content.image %}
          <img src="{{content.image.url}}" class="card-img-top" id="image">
      {% else %}
          {% endif %}

      {% if content.code_file_name %}
          <div class="card" style="margin-top: 30px;">
              <h5 class="card-header">{{content.code_file_name}}</h5>
              <div class="card-body">
              <code style="white-space: pre-wrap;">{{content.code}}</code>
              </div>
          </div>
      {% else %}
      {% endif %} 

  {% endfor %}
</div>

{% if is_superuser %}

<div style="margin: 0 auto; width: 50%;   white-space: nowrap;">
    <h1>Create Model</h1>
    <form action="{% url 'create-blogcontent' %}" method="POST" style="margin-top: 50px;" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="blog-title" value="{{ blog.title }}">

        <label for="title">Title:</label>
        <input type="text" id="title" name="blog-content-title"><br><br>
    
        <label for="description">Description:</label><br>
        <textarea id="description" rows="4" cols="100" name="blog-content-description" wrap="off"></textarea><br><br>
    
        <label for="image">Image File:</label>
        <input type="file" id="image" name="blog-content-image" accept="image/*"><br><br>
    
        <label for="filename">Filename:</label>
        <input type="text" id="filename" name="blog-content-code-filename"><br><br>
    
        <label for="code">Code:</label><br>
        <textarea id="code" name="blog-content-code"  rows="6" cols="100" wrap="off"></textarea><br><br>
    
        <input type="submit" value="Create Model">
    </form>
</div>


{% endif %}

{% endblock %}